body {
    background-color: #616161;
}

.container {
    width: 98%
}

a {
    color: #FFF
  }

#landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh
}

#background-image {
    background: linear-gradient( 
        rgba(0, 0, 0, 0.75), 
        rgba(0, 0, 0, 0.75) 
    ), url('../images/marseilles1.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#background-image-landing {
    background: linear-gradient( 
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5) 
    ), url('../images/marseilles1.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#content-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh
}

   /* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #6a1b9a !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

.select-dropdown, .dropdown-trigger {
    background-color: #424242;
    color: #FFF
}

.dropdown-content li > span {
    color: #FFF
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #6a1b9a !important;
    box-shadow: 0 1px 0 0 #000;
}

#card-style {
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection, .collection-item:nth-of-type(odd) {
    width: 70vw;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #6a1b9a !important;
    border-top: 1px solid #6a1b9a !important;
    border-right: transparent !important;
    border-left: transparent !important;
}

.collection, .collection-item:nth-of-type(even) {
    width: 70vw;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #6a1b9a !important;
    border-top: 1px solid #6a1b9a !important;
    border-right: transparent !important;
    border-left: transparent !important;
}

.fixed-action-btn{
    right: auto; 
    top: 12%;
    margin-left: 3%;
    color: #6a1b9a;
}

.z-depth-5 {
    box-shadow: 0 16px 24px 2px rgba(158,158,158, 0.14), 
        0 6px 30px 5px rgba(158,158,158, 0.12), 
        0 8px 10px -5px rgba(158,158,158, 0.3);
}